/* Wine Color */
.winecolor{
  color: #A82038 !important;
}
/* General Apply */
body {
  height: 100%;
}
/* Hero Banner Section */
.hero-maxheight{
  max-height: 600px !important;
}
.hero-container{
  width: 100%;
  overflow: hidden;
  position: relative;
  top: 0;
  right: 0;
  z-index: -100;
}
.hero-container::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(34,34,34,.5);
}
.hero-container h1{
  color: #fff;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 800px){
  .hero-container h1{
    font-size: 4em;
  }
}
.hero-container img{
  width: 100%;
}

/* Navigation Custom Styles*/
.bg-custom {
  -webkit-box-shadow: 0 8px 6px -6px #222;
  -moz-box-shadow: 0 8px 6px -6px #222;
  box-shadow: 0 8px 6px -6px #222;
}
.custom-toggler{
  color: rgb(168,32,33) !important;
  border-color: rgb(168,32,33) !important;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(168,32,33,0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

/* Footer Customizations */
.f-custom{
  -webkit-box-shadow: 0 -2px 15px -2px #222;
  -moz-box-shadow: 0 -2px 15px -2px #222;
  box-shadow: 0 -2px 15px -2px #222;
}

.footer{
  position: absolute !important;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: rgb(168,32,56);
}
.footer a{color: #fff;}
.footer a:hover{font-weight: bold;color: #fff;}
/* Styles for Registration page */
#white-right, #red-left {
    float: left;

}
#red-left {
    padding-right: 8%;
    padding-bottom: 3%;
}
#grape, #numberOf, #contactForm, #numberOfGroup {
    width: 100%;

}
#container {
    width: 50%;
}
#grape, #container, #numberOfGroup {
    margin: auto;
}
#numberOf {
    position: relative;
    overflow: hidden;
}
select {
    width: 175px;
}
/* Monthly Calendar Configurations */
.bordersection {
    border: solid 2px #A82038;
    border-radius: 10px;
    margin-bottom: 10px;
}
.monthlycal-title{
  margin-top:30px;
}
/* Styles for Registration and Certification page */
/* Padding set as accurate for page to make it friendly for mobile and full screen*/
.inc-padding-container {
	padding-left: 20px !important;
	padding-right: 30px !important;
}

/* Make the whole body looks center on the page
and changing width if change it to mobile friendly */
.container-form {
	max-width: 70% !important;
}
.adjust-container-width{
  max-width: 90% !important;
}
